@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: #F2F2F2;
}

header{

    background-image: linear-gradient(to bottom, #1E7F3B, #145A2A, #0F4D24);
}

header > h1{
    text-align: center;
    color: white;
    padding: 60px;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    background-color: #1E7F3B;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-top: 2px solid #0F4D24;
}

menu > ul > li > a:hover{
    color: lightgreen;
    background-color: #145a2a59;
    transition: 0.3s;
    
}

menu > ul > li > a:active{
    background-color: #2DA44E;
    color: white;
}

#menu-hambg{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #145A2A;

}

#menu-hambg:hover{
    background-color: #1E7F3B;
    cursor: pointer;
    transition: 0.3s;
}

main{
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

}

article > h2{
    padding-bottom: 20px;
    color: #111111;
}

article > p{
    margin-bottom: 20px;
    text-indent: 20px;
    text-align: justify;
    color: #111111;
    line-height: 1.6;
}